/*Identificadores de Ambientes*/
.warning {
    text-align: center;
    font-size: 10px;
    position: fixed;
    right: 0;
    padding: 5px 10px;
}

.dev {
    background-color: crimson;
    color: #fff;
}

.staging {
    background-color: darkgoldenrod;
    color: #fff;
}
/****************************Inicio*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&family=Prompt:wght@400;500;700&display=swap');
:root {
   
   
    --color-main: #054172;
    --color-secondary: #0071e3;
    --color-black: #231f20;
    
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

h1, h2, h3 {
    font-family: 'Prompt';
     font-stretch: normal;
    font-style: normal;
    
    letter-spacing: normal;
    color: var(--color-main);
}

h1{
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    text-align: center;
}

h2 {
   
    font-size: 38px;
    font-weight: 600;
    line-height: 48px;
}

h3 {
    
    font-size: 24px;
    font-weight: 600;
   line-height: 38px;
}


/*************Slider*/
#videoLayer {
    padding: 0;
    position: absolute;
    top:-80px
}


.video-responsive {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	padding-top: 30px;
	position: relative;
	}
.video-responsive iframe, .video-responsive object, .video-responsive embed {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	}